<div class="statistics-dashboard-container">
  <!-- Number of Flaky test cases -->
  <div class="card statistics-card-container">
    <span class="statistics-test-count">{{ flakyTestsCount$ | async }}</span>
    <h3 class="sub-title flaky">Flaky test cases</h3>
  </div>

  <!-- Number of All Passed test cases -->
  <div class="card statistics-card-container">
    <span class="statistics-test-count">{{
      allPassedTestsCount$ | async
    }}</span>
    <h3 class="sub-title passed">All passed test cases</h3>
  </div>

  <!-- Number of All Failed test cases -->
  <div class="card statistics-card-container">
    <span class="statistics-test-count">{{
      allFailedTestsCount$ | async
    }}</span>
    <h3 class="sub-title failed">All failed test cases</h3>
  </div>
</div>

<!-- Filter and query section -->
<div class="card">
  <div class="title-container" [formGroup]="queryForm">
    <h3 class="sub-title">Latest test suite run results</h3>
    <mat-icon
      *ngIf="searchValue || testStatusFilterValue || applicationFilterValue"
      class="filter-icon"
      aria-hidden="true"
      fontIcon="filter_list"
    ></mat-icon>

    <div class="filter-container">
      <!-- Search input -->
      <mat-form-field class="search-input">
        <mat-label>Search</mat-label>
        <input
          formControlName="search"
          matInput
          placeholder="Type to search..."
        />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <!-- Application filter select -->
      <mat-form-field class="filter-select">
        <mat-label>Application filter</mat-label>
        <mat-select formControlName="applicationFilter" disableRipple>
          <mat-option value="">None</mat-option>
          <mat-option
            *ngFor="let application of applications"
            [value]="application"
          >
            {{ application }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Test status filter select -->
      <mat-form-field class="filter-select">
        <mat-label>Test status filter</mat-label>
        <mat-select formControlName="testStatusFilter" disableRipple>
          <mat-option value="">None</mat-option>
          <mat-option [value]="TestStatus.Flaky">Show Flaky tests</mat-option>
          <mat-option [value]="TestStatus.Unexpected"
            >Show Failed tests</mat-option
          >
        </mat-select>
      </mat-form-field>

      <!-- From select -->
      <mat-form-field class="last-run-count-select">
        <mat-label>From</mat-label>
        <mat-select formControlName="from" disableRipple>
          <mat-option [value]="Interval.Day">Last 24 hours</mat-option>
          <mat-option [value]="Interval.Week">Last week</mat-option>
          <mat-option [value]="Interval.Month">Last month</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Loading indicator -->
  <mat-spinner
    class="spinner"
    *ngIf="isLoading$.asObservable() | async"
  ></mat-spinner>

  <!-- No data to display -->
  <p
    *ngIf="
      !(isLoading$.asObservable() | async) &&
      (filteredTestResults$ | async).length === 0
    "
  >
    There's no data to display.
  </p>

  <!-- Display test result using mat accordion -->
  <mat-accordion
    *ngIf="!(isLoading$.asObservable() | async)"
    multi
    #accordion="matAccordion"
  >
    <mat-expansion-panel
      class="expansion-panel"
      hideToggle="true"
      *ngFor="
        let suite of filteredTestResults$ | async;
        trackBy: trackByTestSuiteFile
      "
    >
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title>
          <div class="panel-title">
            <mat-icon
              class="folder-icon"
              aria-hidden="true"
              fontIcon="folder"
            ></mat-icon>
            <div>
              <p class="suite-title">{{ suite.suiteTitle }}</p>
              <p class="latest-suite-run-time">
                {{ suite.suiteRunStartTime | latestSuiteRunTime }}
              </p>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div
        class="test-result-container"
        *ngFor="let test of suite.specs; trackBy: trackByTestTitle"
      >
        <div class="test-title-container">
          <p class="test-title">{{ test.title }}</p>
          <p class="test-line">{{ test.file }}:{{ test.line }}</p>
        </div>

        <div class="test-runs-column-container">
          <div *ngFor="let testRun of test.runs; trackBy: trackByTestRunSpecId">
            <div
              class="test-run-rectangle"
              [ngClass]="{
                expected: testRun.tests | allExpectedTestRuns,
                skipped: testRun.tests | hasSkippedTestRuns,
                unexpected: testRun.tests | hasUnexpectedTestRuns,
                flaky: testRun.tests | hasFlakyTestRuns
              }"
              #tooltip="matTooltip"
              [matTooltip]="
                testRun.suiteRunStartTime | date : 'yyyy, MMM dd. - H:mm'
              "
              [matTooltipPosition]="'above'"
              matTooltipHideDelay="100"
              (click)="openTestRunDetailsFile(testRun)"
            ></div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
