:host {
  padding: 28px;
  display: block;
}

.card {
  padding: 25px;
  background-color: #ffff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.statistics-dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: space-around;

  .statistics-card-container {
    margin-bottom: 28px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    width: 100%;

    .sub-title {
      font-weight: 400;

      &.flaky {
        color: #ee9b04;
      }

      &.passed {
        color: #10ce66;
      }

      &.failed {
        color: #fe4949;
      }
    }

    .statistics-test-count {
      font-size: 36px;
    }
  }
}

.spinner {
  margin-bottom: 28px;
}

::ng-deep.mat-mdc-progress-spinner circle,
.mat-spinner circle {
  stroke: #2f3b4d;
}

::ng-deep {
  .mat-accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .sub-title {
    margin-bottom: 21px;
  }

  .filter-icon {
    margin-inline-start: 8px;
  }

  .filter-container {
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: auto;

    .last-run-count-select,
    .filter-select {
      margin-inline-start: 8px;
    }
  }
}

.expansion-panel {
  .expansion-header {
    background-color: #f6f8fa;
    border-bottom: 1px solid #8080802e;
    height: 100%;
  }

  .panel-title {
    display: flex;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 12px;

    .folder-icon {
      color: #99a4b8;
    }

    .suite-title {
      font-size: 16px;
    }

    .latest-suite-run-time {
      margin-top: 4px;
      font-size: 12px;
    }
  }

  ::ng-deep.mat-expansion-panel-body {
    padding: 16px 24px 16px;
  }

  .test-result-container {
    display: flex;
    gap: 24px;
    padding-inline-start: 36px;

    &:not(:last-child) {
      margin-bottom: 12px;
      border-bottom: 1px solid #8080802e;
      padding-bottom: 8px;
    }

    .test-title-container {
      display: flex;
      flex-direction: column;

      max-width: 550px;
      width: 100%;

      .test-title {
        font-size: 14px;
        font-weight: 500;
        word-break: break-word;
      }

      .test-line {
        font-size: 12px;
        font-style: italic;
      }
    }

    .test-runs-column-container {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      width: 100%;

      .test-run-rectangle {
        width: 12px;
        height: 25px;
        border-radius: 2px;
        cursor: pointer;

        &.minimized {
          width: 4px;
        }

        &.expected {
          background-color: #10ce66;
        }

        &.skipped {
          background-color: #99a4b8;
        }

        &.unexpected {
          background-color: #fe4949;
        }

        &.flaky {
          background-color: #ffcd3c;
        }
      }
    }
  }
}
