@use "../../../styles";

$header-background-color: #282e37;
$header-title-color: #ffffff;
$header-letter-spacing: 2px;
$header-z-index: 100;

:host {
  .header {
    background: $header-background-color;
    height: styles.$header-height;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: $header-z-index;
    display: flex;

    .title {
      display: flex;
      align-items: center;
      margin: 0 styles.$s9;
      color: $header-title-color;
      letter-spacing: $header-letter-spacing;
    }
  }
}
