:host {
  .header {
    background: #282e37;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;

    .title {
      display: flex;
      align-items: center;
      margin: 0px 36px;
      color: #ffffff;
      letter-spacing: 2px;
    }
  }
}
